//----------------------------------------------------
// Elements: Grid
//----------------------------------------------------

.grid {
  &.is-column {
    flex-direction: column;
  }
  &.is-column-reverse {
    &-mobile-fablet {
      @include mobile-fablet() {
        flex-flow: column-reverse;
      }
    }
  }
  &.is-align-center {
    align-content: center;
  }
}