//----------------------------------------------------
// Utilities: Space
//----------------------------------------------------

//----------------------------------------------------
// / Variables
//----------------------------------------------------
$space-size-xxxl: 7.5rem !default;
$space-size-xxxxl: 15rem !default;
//----------------------------------------------------
// / Style - Space
//----------------------------------------------------

.is-space-xxxl > *:not(:first-child) {
  margin-top: $space-size-xxxl;
  @include mobile-fablet() {
    margin-top: 6rem;
  }
}

.is-space-xxxxl > *:not(:first-child) {
  margin-top: $space-size-xxxxl;
}
