.box {
  &.is-absolute {
    position: absolute;
  }
  &.is-top-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    &.is-light {
      color: $white;
      text-shadow: 1px 1px 1px rgba(1,1,1,.5);
    }
    >.header-item:first-child {
      padding-top: 8%;
    }
  }
  &.is-works-item {
    figcaption {
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%,-50%);
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      margin:0;
      padding:0;
      img {
        height: 33px;
        filter: drop-shadow(1px 1px 1px rgba(0,0,0,.7));
      }
    }
  }
  &.is-category {
    a {
      padding: .25rem .5rem;
      background: black;
      color: white;
    }
  }
  &.is-contact {
    margin-top: 7rem;
  }
}