//----------------------------------------------------
// Components: Heading
//----------------------------------------------------

.project-heading-1,
.project-heading-2 {
  font-weight: bold;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.7);
  color: #ffffff;
}

.project-heading-1 {
  font-size: 2rem;
  @include mobile-fablet() {
    font-size: 1.5rem;
  }
}

.project-heading-2 {
  font-size: 6rem;
  line-height: 7.5rem;
  @include mobile-fablet() {
    font-size: 3.5rem;
    line-height: 4rem;
  }
}

.project-heading-3 {
  display: inline-block;
  position: relative;
  &:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -.5rem; /*下線の上下位置調整*/
  display: inline-block;
  width: 1rem; /*下線の幅*/
  height: 2px; /*下線の太さ*/
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%); /*位置調整*/
  background-color: #666666; /*下線の色*/
  }
}