//----------------------------------------------------
// Components: Site Logo
//----------------------------------------------------

// Fix IE11 (Must height)
$site-logo-width: 20em;
$site-logo-height: $site-logo-width * 0.1718;

.site-logo-link {
  padding: 1rem 1.5rem;
}

.site-logo {
  width: $site-logo-width;
  height: $site-logo-height;
  path {
    fill: $black;
  }
}